<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nepenthe.dao.UserMapper">
    <insert id="addUser" parameterType="com.nepenthe.pojo.User">
        insert into campus.user(id, nike_name, avatar_url, is_card, card_id, is_student, student_id, openid)
        values (#{user.id}, #{user.nikeName}, #{user.avatarUrl}, #{user.isCard}, #{user.cardId}, #{user.isStudent},
                #{user.studentId}, #{user.openId});
    </insert>
    <update id="updateUser" parameterType="com.nepenthe.pojo.User">
        update campus.user
        set is_card    =#{user.isCard},
            card_id    =#{user.CardId},
            is_student =#{user.isStudent},
            card_id    =#{user.studentId}
        where openid = #{user.openId}
    </update>

    <select id="queryUserByOpenId" resultType="com.nepenthe.pojo.User">
        select *
        from campus.user
        where openid = #{openId}
    </select>

</mapper>